<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="key" value="64-6A-59-FD-1C-5E-3B-5B-07-7C-00-BD-7C-25-5B-4D-8F-0A-88-6B-61-E7-03-91-A0-AC-0D-D1-EA-B4-C3-A8" />
		<add key="iv" value="06-0C-93-FE-AE-15-8D-7B-FD-89-FA-A5-2E-10-07-69" />
	</appSettings>
</configuration>